body{
    background-image: url("bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}
.header{
    display: flex; 
    padding-left: 10px;
    color:white;
    
}
.account{
    display: flex;
    padding-left:950px;
    color:white;
}
.title{
    font-size: 60px;
    padding-left: 10px;
    color: white;
}
.title1{
    font-size: 35px;
    padding-left: 10px;
    color: white;
}
.about , .about1 , .about2 , .about3{
    font-size: 20px;
    color: white;
} 
.margin {
    height: 100px;
    width: 100px;
}
.search_div{
    background: #2d3239;
    height: 40px;
    border-radius: 30px;
    padding: 10px;
    
}
.search_input{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0;

}
.search_button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #427fbb;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #2d3239;
    transition: 0.4s;
    text-decoration: none;

}
.search_div:hover > .search_input{
    width: 240px;
    padding: 0.6px;
    top: 50px;
}
.search_div:hover > .search_button{
    background: #fff;
}
.cart_icon , .acc_icon{
    width: 80px;
    height: 80px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}
