


 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <title>Register</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="../static/style.css">

   
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  
</head>
<body background= "{{url_for('static', filename='bg.png')}}"  >
  
  
    <div class="container">
      <h3>{{ msg }}</h3>
      
        <div class="row tyle=" style="margin-top: 40px" >
            <div class="col-sm-6">
              <form action = "{{ url_for('adminregistration') }}" method = "POST">
               
                   <br> <div class="form-group">
                    <li class="col-sm-6"><a href="/" class="btn form-control btn-success">HOME</a></li>
          
          <br><br>
          <br><br>
                      <label for="name">  NAME  : </label>
                      
                      <input type = "text" name="name" class="form-control" id="password">
                    
                  </div>
                    <br>
                    <br>
                    <div class="form-group">
                      <label for="email">  EMAIL  : </label>
                      
                      <input type = "text" name="email" class="form-control" id="email">
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                      <label for="password">PASSWORD : </label>
                      <input type = "text" name="password" class="form-control" id="password">
                    </div><br><br>
                    <div class="form-group">
                      <label for="confirmpassword">CONFIRM-PASSWORD : </label>
                      <input type = "text" name="confirmpassword" class="form-control" id="password">
                    </div><br><br>
                    <div class="form-group">
                      <label for="secretkey">SECRET KEY : </label>
                      <input type = "text" name="secretkey" class="form-control" id="password">
                    </div><br>
                    <br>
                    <button type="submit" class="btn form-control btn-default">Signup</button>
                    <li class="col-sm-6"><a href="/adminlogin" class="btn form-control btn-primary">Already an admin?</a></li>
                </form>
            </div>
        </div>
    </div>
    </div>
    </body>
    </html>