<!DOCTYPE html>
<html>
    <head>
        <title>Inventory Management</title>
        <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
         <!--..<link rel="stylesheet" href="../static/index.css">.-->

    </head>
    <body>
        <div class="header">
            <img class="margin"src="../static/manage.jpeg">
            <div class="space"></div>
            <div class="account">
                
                <a href="/usersignup"><img class="acc_icon" src="../static/user.jpeg">User</a>
                <a href="/adminsignup"><img class="acc_icon" src="../static/user.jpeg">Admin</a>
                
            </div>
        </div>
        <br>
        <p class="title">INVENTORY MANAGEMENT</p>
        <p class="title1">About:</p>
        <p class="about">Inventory management helps companies identify which and how much stock to order at what time.It
            tracks inventory from purchase to the sale of goods. The practice identifies and responds to trends to ensure 
            there’s always enough stock to fulfill customer orders and proper warning of a shortage.</p>
        <p class="about1">One measurement of good inventory management is inventory turnover. An accounting measurement,
            inventory turnover reflects how often stock is sold in a period. A business does not want more stock than sales.
            Poor inventory turnover can lead to deadstock, or unsold stock.</p>

        <p class="about2">Inventory is the raw materials, components and finished goods a company sells or uses in production.
            Accounting considers inventory an asset. Accountants use the information about stock levels to record the correct
            valuations on the balance sheet.</p>
        <p class="about3">Inventory is often called stock in retail businesses: Managers frequently use the term “stock on hand”
            to refer to products like apparel and housewares. Across industries, “inventory” more broadly refers to stored sales
            goods and raw materials and parts used in production.

            Some people also say that the word “stock” is used more commonly in the U.K. to refer to inventory. While there is a 
            difference between the two, the terms inventory and stock are often interchangeable</p>
    </body>
</html>